<header>
    <div class="logo">
        <a href="/">Blog Creator</a>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">Creat Blog</a></li>
        </ul>
    </nav>
</header>