<!DOCTYPE html>
<html lang="en">

<%- include( './partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs')%>
    </body>
    <main>


        <form action="/blogs" method="post">
            <h2> Create Blog</h2>
            <label for="blogTitle">Title</label>
            <input type="text" name="title" id="Title">

            <label for="blogBody">Body</label>
            <textarea id="blogBody" name="body"></textarea>

            <button type="submit">submit</button>
        </form>
    </main>

</html>